.links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    padding-right: 58px;
    padding-left: 58px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
    color: white;
}

* {box-sizing:border-box}

.h2 {
    color: white;
    padding-left: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 30;
    font-weight: bold;
}

.div1 {
    position: absolute;
    color: white;
    padding-right: 60%;
    padding-left: 50px;
    font-size: 20;
    font-family: 'roboto', sans-serif;
    text-align: center;
    line-height: 200%;
}

.pilt {
    padding-left: 1000px;
    padding-top: 50px;
    size: 150%;
}

.music {
    padding-left: 20%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30;
    font-weight: bold;
}

.paragraph {
    position: relative;
    color: white;
    padding-right: 60%;
    padding-left: 50px;
    font-size: 20;
    font-family: 'roboto', sans-serif;
    text-align: center;
    line-height: 200%;
}

.video {
    position: relative;
    justify-content: center;
    display: flex;
}

.video .left {
    float: left;
    width: 40%;
}

.video .right {
    float: right;
    width: 30%;
}

.vl {
    border-left: 6px solid white;
    height: 315px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    padding-bottom: 50px;
    top: 0;
  }
