.links {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    padding-right: 58px;
    padding-left: 58px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

* {box-sizing:border-box}

.flex-container {
    display: flex;
    flex-direction: row;
  }

